
* {
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(../img/img2/asdasdasdasd.png);
}

main{
  
  margin-top:8rem ;
}


header {
  padding: 10px 0px 20px 0;
  position: fixed;
  /* background-color: rgb(241, 233, 233); */
  width: 100%;
  height: 8rem;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  z-index: 100;
  top: 0;
}

header .container {
  
  display: flex;
  justify-content: space-between;
}

header .container .logo {
  width: 190px;
  
  
}

header .container nav a {
 
  font-size: 20px;
  color: rgb(5, 0, 0);
  margin: 2rem 15px;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(68, 68, 90, 0.363);
  border-radius: 10px;
  padding: 5px;
}




header .container nav  a:hover{
  background-color: black;
  color: white;
}






.container {
  width: 1024px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
 
}
.equisde{
  position: relative;
  margin-top: 5rem;
}

.equisde .imgx{
position: inherit;
}





.negro{
  background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 115%);
  color: rgb(7, 0, 0);
  height: 7rem;
  }

.negro p {
  padding-top: 1rem;
  margin-left: 2rem;
  font-size: 30px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



.container-fluid {
  width: 90%;
  padding-right: 0%;
  padding-left: 10%;
  position: relative;
}

#inicio {
  position: relative;
}

#inicio img {
  width: 100%;
  display: block;
}


#inicio .bloque-inicio {
  background-color: #fcf3f793;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 500px;
  text-align: center;
  margin-left: 100px;
  padding-bottom: 5%;
}

#inicio .bloque-inicio h1 {
  color: rgb(8, 2, 26);
  font-size: 45px;
}

#inicio .bloque-inicio .grande {
  color:red;
  font-size: 75px;
}
#inicio .bloque-inicio p {
  color: rgb(1, 1, 10);
  font-size: 20px;
 
}

.boton {
  text-align: center;
  padding: 15px 20px;
  border: none;
}


.boton.boton-rojo {
  color: white;
  background-color: rgb(6, 3, 48);
  font-size: 20px;
  font-weight: bold;
}

.seccion {
  padding-top: 50px;
  padding-bottom: 60px;
  color: white;
  font-weight: bold;
  
}


.cuadrado-perfecto {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.cuadrado-perfecto img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.cuadrado-perfecto img:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }


#nosotros {
  background-image: url(/img/img2/ser1.png);
 
  background-size: cover;
}

#nosotros p {
  color: rgb(17, 1, 1);
  text-align: center;
  font-size: 16px;
}



.row {
  
  display: flex;
  /*Si una columna no entra, esa columna va hacia abajo*/
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.columna {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 2rem;

}
.columna img:hover {
  -webkit-transform:scale(1.3);transform:scale(1.1);
}

.columna-25 {
  width: 25%;
  margin-bottom: 2rem;
}

.columna-33{
  width: 33.33%;
  margin-bottom: 2rem;
}



.columna-41 {
  width: 41.66%;
}

.empujar-58 {
  margin-left: 58.33%;
}

#servicios .bloque-servicio {
  border: 1px solid grey;
}

.bloque-img-servicio img {
  width: 100%;
}

.bloque-img-servicio.cuadrado-perfecto{
  padding-bottom: 56.25%;
}

.bloque-contenido-servicio {
  padding: 15px;
  border: none;
}

.bloque-contenido-servicio h3 {
  margin-top: 0px;
  font-size: 25px;
}

.boton.boton-blanco {
  color: red;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid red;
}
.sub{
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;

}



#galeria h4 {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  position: absolute;
  top: 40%;
  color: rgb(250, 243, 243);
  font-size: 18px;
  width: 100%;
}

#galeria img {
  /*filtro 1 es que estara en blanco y negro, 0 no se aplicara ningun filtro*/
  filter: grayscale(1);
}

#galeria img:hover  {
  filter: grayscale(0);
}

#galeria .cuadrado-perfecto:hover h4 {
  /*
  El valor display:none le dice al navegador que no lo represente, el resultado es que el elemento queda escondido y el espacio que deberia ocupar colapsado
  */
  display: none;
}

#contactenos {
  position:relative;
}

#contactenos img{
  width: 100%;
  position: absolute;
}


#contactenos form {
  position: relative;
  
  padding: 60px;
  background-color: rgba(240, 235, 235, 0.562);
}

#contactenos #formulario-contacto .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#contactenos #formulario-contacto .form-block .form-control {
  display: block;
  height: 40px;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
}

#contactenos #formulario-contacto .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid grey;
  width: 100%;
  padding: 5px 10px;
  /*No se puede dimensionar el textarea*/
  resize: none;
}

#contactenos #formulario-contacto .form-block.bloque-ultimo {
  margin-bottom: 0;
}

.boton.boton-negro {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.boton.boton-negro:hover {
  background-color: white;
  color: black;
}

footer {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 60px;
}

footer .barra-footer {
  background-color: grey;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .logo-footer {
  width: 100%;
}

footer p {
  margin-bottom: 30px;
}

footer a {
  color: white;
}

footer .redes {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

footer .redes a {
  margin: 0px 7.5px;
}

footer ul {
  padding-right: 0px;
  list-style: none;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
  margin-left: -40px;
}


/*Validacion del formulario*/



/*El tamaño de una tablet es 768px*/

@media screen and (max-width: 768px){
  body {
    font-size: 15px;
  }

  header .container nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;
    top: 0px;
    left: 0px;
    display: flex;
    /*Convierte las filas en columnas*/
    flex-direction: column;
    transition: all 0.4s ease;
    transform: translate(100%);
  }

  header .container nav.open {
    /*Se cierra el menu*/
    transform: translateX(0) !important;
  }

  header .container nav a {
    font-size: 30px;
    margin: 15px;
  }

  header .container .hamb {
    display: block;
    font-size: 40px;
    color: red;
    margin-left: -5rem;
    position: relative;
    z-index: 20;
   
  }

  form .boton.boton-negro {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer .logo-footer {
    width: 50%;
  }

  footer .redes {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }

  .columna-mobile-100 {
    width: 100%;
  }

  .columna-mobile-50 {
    width: 50%;
  }

  .empujar-mobile-0 {
    margin-left: 0;
  }

  .sinpadding-mobile {
    padding: 0px;
  }

  #inicio {
    height: 120vw;
  }


  #inicio img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }



  #servicios .bloque-servicio {
    margin-bottom: 15px;
  }


  #contactenos {
    padding: 0;
  }

  #contactenos iframe {
    position: relative;
    height: 50vw;
  }
}

.mapa{
  margin-left: 28%;
}









@import url(https://fonts.googleapis.com/css?family=Montserrat);




.containers {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
  width: 100%;
}

svg {
    display: flex;
    font: 3.5em 'Montserrat';
    
    width: 100%px;
    height: 200px;
    margin: 10% auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #eee4eb;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #fcf3f7;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #ceee1a;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #e9ebea;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #f8f7f4;
	animation-delay: -5s;
}


@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

video{
  width: 100%;
}

.seccion .containerC{
  background-image: url('/img/img2/Captura de pantalla 2022-06-24 001133.png');
  height: 500px;
}
